<div class="content-area">

  <p-panel header="Find Contacts" [toggleable]="true">
    <form [formGroup]="searchForm" (ngSubmit)="onFind()" class="header" >
      <div class="ui-g">
        <label class="ui-g-2" for="conName">Contact Name:</label>
        <input class="ui-g-3"type="text" name="conName" id="conName" formControlName="conName">

        <p-checkbox class="ui-g-2" binary="true" label="Active:"
                    name="conActive" id="conActive" formControlName="conActive"></p-checkbox>

        <p-checkbox class="ui-g-2" binary="true" label="Inactive:"
                    name="conInactive" id="conInactive" formControlName="conInactive"></p-checkbox>
        <button pButton class="ui-g-2" type="submit" label="Find Contacts"></button>
      </div>
    </form>

  </p-panel>


  <div class="content-area">
     <div>

    <p-dataTable  [value]="contactsService.contactEntity.findResults"
                  [rows]="20"
                  [paginator]="true"
                  [pageLinks]="5"
                  [rowsPerPageOptions]="[10,20,30,40]" >

    <p-header>
        <div style="text-align:left">
            <p-multiSelect [options]="columnOptions"  [(ngModel)]="cols">
            </p-multiSelect>
           <!-- <p>Selected Cars: {{selectedCars}}</p>

            <p-multiSelect [options]="cars" [(ngModel)]="selectedCars"></p-multiSelect>-->
        </div>
    </p-header>

    <p-column *ngFor="let col of cols" font-size:small
      [field]="col.field"
      [header]="col.header"
      [style]="col.width"
      [filter]="true" filterPlaceholder="Search"
      [sortable]="true">
    </p-column>
   </p-dataTable>
  </div>

  </div>
</div>
