<div class="home">
  <div class="header login-header">
    <div class="ui-g ui-fluid">
      <div class="ui-g-12">
        <button pButton type="button" class="ui-button-info" label="Swirnow Building System Management"></button>
      </div>
    </div>
  </div>
  <div class="main-content">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()" (keydown)="keyDownFunction($event)">
      <div class="ui-g-12 ui-fluid center-div">
        <div class="ui-g container">
          <div class="ui-g-12" *ngIf="loginMessage != null">
            <b style="color:red;">{{loginMessage}}</b>
          </div>
          <div class="ui-g-12">
            <div class="ui-g-1"> </div>
            <div class="ui-g-4 align-right label-color"><b>User name</b></div>
            <div class="ui-g-4"><input pInputText type="text" placeholder="Required" formControlName="username"></div>
            <div class="ui-g-3"> </div>
          </div>
          <div class="ui-g-12">
            <div class="ui-g-1"> </div>
            <div class="ui-g-4 align-right label-color"><b>Password</b></div>
            <div class="ui-g-4"><input pInputText type="password" placeholder="Required" formControlName="password"></div>
            <div class="ui-g-3"> </div>
          </div>
          <div class="ui-g-12">
            <div class="ui-g-4"> </div>
            <div class="ui-g-4"><button pButton type="submit" [disabled]="!loginForm.valid" icon="fa-sign-in" label="Log In" iconPos="left"></button></div>
            <div class="ui-g-4"> </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="footer login-footer">
    <div class="ui-g ui-fluid">
      <div class="ui-g-12">
        <p-footer><button pButton type="button" class="ui-button-info" label="2801 Sisson St, Baltimore, MD 21211"></button></p-footer>
      </div>
    </div>
  </div>
</div>
