<!--The whole content below can be removed with the new code.-->

<div class="root-component">
  <router-outlet></router-outlet>
</div>

<p-dialog [(visible)]="showMessages" [width]="800">
  <p-header>
    System Message
  </p-header>
  <div class="ui-g ui-fluid">
    <div class="ui-g-12 content-area">
      <B>{{latestMessage.message}}</B>
    </div>
    <div class="ui-g-12">
      <p-dataTable [value]="appMessages" [rows]="5" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[5,10,15,20]">
        <p-column field="type" header="Message Type" [style]="{'width':'20%'}" ></p-column>
        <p-column field="message" header="Message" [style]="{'width':'80%'}" ></p-column>
      </p-dataTable>
    </div>
  </div>
  <p-footer>
    <div class="ui-g-12">
      <div class="ui-g-9">  </div>
      <div class="ui-g-3">
        <button type="button" pButton label="Clear Old Messages" (click)="clearMessages()"></button>
      </div>
    </div>
  </p-footer>
</p-dialog>

<p-dialog [(visible)]="showLogin" [width]="400">
  <p-header>
    Login
  </p-header>
  <div class="ui-g ui-fluid">
    <div class="ui-g-12" *ngIf="loginMessage != null">
      <b style="color:red;">{{loginMessage}}</b>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <div class="ui-g-12 ui-fluid center-div">
        <div class="ui-g container">
          <div class="ui-g">
            <div class="ui-g-1"></div>
            <div class="ui-g-4 align-right label-color"><b>User name</b></div>
            <div class="ui-g-4"><input pInputText type="text" placeholder="Required" formControlName="username"></div>
            <div class="ui-g-3"></div>

            <div class="ui-g-1"></div>
            <div class="ui-g-4 align-right label-color"><b>Password</b></div>
            <div class="ui-g-4"><input pInputText type="password" placeholder="Required" formControlName="password"></div>
            <div class="ui-g-3"></div>

            <div class="ui-g-4"></div>
            <div class="ui-g-4"><button pButton type="submit" [disabled]="!loginForm.valid" icon="fa-sign-in" label="Log In" iconPos="left"></button></div>
            <div class="ui-g-4"></div>
          </div>
        </div>
      </div>
    </form>
  </div>
</p-dialog>
