<!--The whole content below can be removed with the new code.-->
<div class="root-component">
  <router-outlet></router-outlet>
</div>

<p-dialog [(visible)]="showMessages" [width]="800">
  <p-header>
    System Message
  </p-header>
  <div class="ui-g ui-fluid">
    <div class="ui-g-12 content-area">
      <B>{{appService.latestMessage.message}}</B>
    </div>
    <div class="ui-g-12 content-area">
      <p-dataTable [value]="appService.appMessages" [rows]="5" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[5,10,15,20]">
        <p-column field="type" header="Message Type" [style]="{'width':'20%'}" ></p-column>
        <p-column field="message" header="Message" [style]="{'width':'80%'}" ></p-column>
      </p-dataTable>
    </div>
  </div>
</p-dialog>
