<p-blockUI [blocked]="busy" [target]="">
  <div style="position:absolute;top:40%;left:45%">
    <font size="5" color="black">Loading...</font>
  </div>
</p-blockUI>

<div id="page" class="ui-g-12 ui-fluid content-area">
  <div class="ui-g-12 ui-widget-content header">
    <div class="ui-g-10">
      <button pButton type="button" class="ui-button-info" label="Display Company"></button>
    </div>
    <div class="ui-g-2">
      <button pButton type="button" icon="fa-check-square-o" label="Change" (click)="changeCompany()"></button>
    </div>

    <div class="ui-g-2">
      Created by: <b>{{companyDetail.company.comCreatedBy}} </b>
    </div>
    <div class="ui-g-3">
      Revised Date:
      <B>{{companyDetail.company.comRevisedDate | date:"longDate"}}</B>
    </div>
    <div class="ui-g-2">
      Revised By:
      <B>{{companyDetail.company.comRevisedBy}}</B>
    </div>

  </div>
  <div class="ui-g-12 ui-widget-content content-area">


    <p-panel header="Company Details" [toggleable]="true">

      <form [formGroup]="companyForm" (ngSubmit)="onSubmit()" class="content-area">
        <div class="ui-g-12 content-area">
          <div>
            <div class="ui-g-6">
              <div class="ui-g ui-widget-content">
                <div class="ui-g-1"></div>
                <div class="ui-g-11">
                  <B> General Information</B>
                </div>

                <!-- Name:{{companyDetail.company.comName}}-->

                <div class="ui-g-2 align-right"> Name: </div>
                <div class="ui-g-10"><b>{{companyDetail.company.comName}}</b></div>

                <div class="ui-g-2 align-right"> Alias: </div>
                <div class="ui-g-10"><b>{{companyDetail.company.comAlias}}</b></div>

                <div class="ui-g-2 align-right fa fa-phone"> Phone: </div>
                <div class="ui-g-4">
                  <b>{{companyDetail.company.comPhone}}</b>
                </div>

                <div class="ui-g-2 align-right fa fa-fax"> Fax: </div>
                <div class="ui-g-4">
                  <b>{{companyDetail.company.comFax}}</b>
                </div>

                <div class="ui-g-2 align-right"> Toll Free: </div>
                <div class="ui-g-4">
                  <b>{{companyDetail.company.comTollFree}}</b>
                </div>
                <div class="ui-g-2 align-right"> District: </div>
                <div class="ui-g-4">
                  <b>{{companyDetail.company.comDistrict}}</b>

                </div>
                <div class="ui-g-2 align-right fa fa-globe"> Web Site: </div>
                <b>{{companyDetail.company.comWeb}}</b>
              </div>
            </div>

            <div class="ui-g-6">
              <div class="ui-g ui-widget-content">
                <div class="ui-g-1"></div>
                <div class="ui-g-11"><b>Main Address</b></div>

                <div class="ui-g-3 align-right"> Address: </div>
                <div class="ui-g-9">
                  <b>{{companyDetail.company.comAddress}}</b><br *ngIf="companyDetail.company.comAddress2">
                  <b>{{companyDetail.company.comAddress2}}</b><br>
                  <b>{{companyDetail.company.comCity}}, {{companyDetail.company.comState}} {{companyDetail.company.comZip}}</b><br>
                  <b>{{companyDetail.company.comCountry}}</b>
                </div>
                <div class="ui-g-3 align-right fa fa-map-marker">Main Directions:</div>
                <div class="ui-g-9">
                  <b>{{companyDetail.company.comDirections}}</b>
                </div>
              </div>

            </div>

          </div>

          <div>
            <div class="ui-g-6">
              <div class="ui-g ui-widget-content">
                <span class="ui-g-1"></span>
                <div class="ui-g-5">
                  <B>Mailing Address</B>
                </div>
                <div class="ui-g-6">
                </div>
                <div class="ui-g-3 align-right"> Address: </div>
                <div class="ui-g-9">
                  <b>{{companyDetail.company.comMailAddress1}}</b><br *ngIf="companyDetail.company.comMailAddress2">
                  <b>{{companyDetail.company.comMailAddress2}}</b><br>
                  <b>{{companyDetail.company.comMailCity}}, {{companyDetail.company.comMailState}} {{companyDetail.company.comMailZip}}</b><br>
                  <b>{{companyDetail.company.comMailCountry}}</b>
                </div>
              </div>
            </div>

            <div class="ui-g-6">
              <div class="ui-g ui-widget-content">
                <div class="ui-g-1"></div>
                <div class="ui-g-5">
                  <B>Delivery Address</B>
                </div>
                <div class="ui-g-6"></div>

                <div class="ui-g-3 align-right">Address: </div>
                <div class="ui-g-9">
                  <b>{{companyDetail.company.comDeliveryAddress1}}</b><br *ngIf="companyDetail.company.comDeliveryAddress2">
                  <b>{{companyDetail.company.comDeliveryAddress2}}</b><br>
                  <b>{{companyDetail.company.comDeliveryCity}}, {{companyDetail.company.comDeliveryState}} {{companyDetail.company.comDeliveryZip}}</b><br>
                  <b>{{companyDetail.company.comDeliveryCountry}}</b>
                </div>
                <div class="ui-g-3 align-right fa fa-map-marker">Delivery Directions:</div>
                <div class="ui-g-9"><b>{{companyDetail.company.comDeliveryDirections}}</b></div>
                <div class="ui-g-3 align-right">Delivery Comments:</div>
                <div class="ui-g-9"><b>{{companyDetail.company.comDirectionComments}}</b></div>

              </div>
            </div>


          </div>
        </div>
      </form>

    </p-panel>



    <p-panel header="Contacts" [toggleable]="true">
      <p-dataTable [value]="companyDetail.contacts">
        <p-column field="conid" header="ID">
          <ng-template let-col let-row="rowData" pTemplate="body">
            <a routerLink="../../../contacts/display/{{row[col.field]}}">{{row[col.field]}}</a>
          </ng-template>
        </p-column>
        <p-column field="conName" header="Name"></p-column>
        <p-column field="conPosition" header="Position"></p-column>
        <p-column field="conDirectPhone" header="Phone"></p-column>
        <p-column field="conExt" header="Extension"></p-column>
        <p-column field="conEmail" header="Email"></p-column>
      </p-dataTable>
    </p-panel>

    <p-panel header="Projects" [toggleable]="true">
      <p-dataTable [value]="companyDetail.projects">
        <p-column field="proID" header="ID"></p-column>
        <p-column field="proNumber" header="Project No."></p-column>
        <p-column field="proName" header="Name"></p-column>
        <p-column field="proAlias" header="Alias"></p-column>
        <p-column field="proAffCode" header="Aff. code"></p-column>
        <p-column field="proDistrictCode" header="District"></p-column>
        <p-column field="proRepCode" header="Rep"></p-column>
        <p-column field="proCity" header="City"></p-column>
        <p-column field="proState" header="State"></p-column>
        <p-column field="proZip" header="Zip"></p-column>
        <p-column field="conCompanyID" header="Company"></p-column>
        <p-column field="proDead" header="Dead"></p-column>
      </p-dataTable>
    </p-panel>


    <p-panel header="Jobs" [toggleable]="true">
      <p-dataTable [value]="companyDetail.jobs">
        <p-column field="proID" header="ID"></p-column>
        <p-column field="proNumber" header="Job No."></p-column>
        <p-column field="proName" header="Name"></p-column>
        <p-column field="proAlias" header="Alias"></p-column>
        <p-column field="proAffCode" header="Aff. Code"></p-column>
        <p-column field="proDistrictCode" header="District"></p-column>
        <p-column field="proRepCode" header="Rep."></p-column>
        <p-column field="proCity" header="City"></p-column>
        <p-column field="proState" header="State"></p-column>
        <p-column field="proZip" header="Zip"></p-column>
      </p-dataTable>
    </p-panel>

    <p-panel header="Comments" [toggleable]="true">

      <p-dataTable [value]="companyDetail.comments">
        <p-column field="cmcPriority" header="Priority" [style]="{'width':'8%'}"></p-column>
        <p-column field="cmcComment" header="Comment" [style]="{'width':'70%'}"></p-column>
        <p-column field="cmcUser" header="User" [style]="{'width':'8%'}"></p-column>
        <p-column field="cmcDate" header="Date" [style]="{'width':'14%'}">
          <ng-template let-col let-row="rowData" pTemplate="body">
            {{row[col.field] | date:"longDate"}}
          </ng-template>
        </p-column>
      </p-dataTable>

      <p-footer>
        <div class="ui-helper-clearfix">
          <div class="ui-panel-title ui-g-11" style="font-size:16px;display:inline-block;margin-top:2px"></div>
          <div class="ui-g-1"><button pButton type="button" icon="fa-plus-square" label="Add" iconPos="left" [style]="{'float':'right', 'width':'10%'}" (click)="displayDialog=true;cmcPriority='';cmcComment='';"></button> </div>
        </div>
      </p-footer>

    </p-panel>
<!--
    <p-panel header="Marketings" [toggleable]="true">
      <p-dataTable [value]="companyDetail.marketings">
        <p-column field="mrkID" header="ID"></p-column>
        <p-column field="mrkActivityCode" header="Act. Code"></p-column>
        <p-column field="mrkActivitySubcode" header="Act. Sub Code"></p-column>
        <p-column field="mrkDate" header="Date">
          <ng-template let-col let-row="rowData" pTemplate="body">
            {{row[col.field] | date:"longDate"}}
          </ng-template>
        </p-column>
        <p-column field="mrkRep" header="Rep."></p-column>
        <p-column field="mrkName" header="Name"></p-column>
        <p-column field="recnContactID" header="Contact">
          <ng-template let-col let-row="rowData" pTemplate="body">
            <a>{{row[col.field]}}</a>
          </ng-template>
        </p-column>
      </p-dataTable>
    </p-panel>
-->
  </div>
</div>

<p-dialog [(visible)]="displayDialog" [width]="800">
  <p-header>
    Add Comments
  </p-header>
  <div class="ui-g ui-fluid">
    <div class="ui-g-12">
      <div class="ui-g-2 align-right">Priority:</div>
      <p-checkbox class="ui-g-10" binary="true" [(ngModel)]="cmcPriority" label=""></p-checkbox>
      <div class="ui-g-2 align-right">Comments:</div>
      <div class="ui-g-10"> <textarea pInputTextarea [(ngModel)]="cmcComment" rows="3" cols="50"></textarea></div>
      <div class="ui-g-2"><button pButton type="button" label="Save" (click)="saveComments(cmcPriority,cmcComment);"></button></div>
    </div>
  </div>
</p-dialog>
