/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  margin: 0;
  font-size: 14px;
}

.root-component {
  height: 100%;
  margin: 0;
  margin: 0;
}

.home {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.header {
  flex: 0 0 auto;
}

.main-content {
  position: relative;
  flex: 1 1 auto;
  display: flex;
  flex-flow: row;
}

.side-nav {
  flex: 0 0 auto;
  overflow-y: auto;
  overflow-x: hidden;
  transition: 1s;
}

.content-area {
  flex: 1 1 auto;
  overflow-y: auto;
  display: flex;
  flex-flow: column;
}

.content {
  height: 100%;
  flex: 1 1 auto;
  overflow-y: auto;
  display: flex;
  flex-flow: column;
}

.footer {
  flex: 0 1 auto;
}

.align-right {
  text-align: right;
}

create-company-view,
change-company-view,
create-contact-view,
change-contact-view,
display-company-view,
display-contact-view {
  flex: 0 0 auto;
  height: 100%;
  display: flex;
  flex-flow: column;
}
