/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  margin: 0;
  font-size: 14px;
}

.root-component {
  height: 100%;
  margin: 0;
  margin: 0;
}

.home {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.header {
  flex: 0 0 auto;
}

.main-content {
  position: relative;
  flex: 1 1 auto;
  display: flex;
  flex-flow: row;
}

.side-nav {
  flex: 0 0 auto;
  overflow-y: auto;
  overflow-x: hidden;
  transition: 1s;
}

.content-area {
  flex: 1 1 auto;
  overflow-y: auto;
  display: flex;
  flex-flow: column;
}

.content {
  height: 100%;
  flex: 1 1 auto;
  overflow-y: auto;
  display: flex;
  flex-flow: column;
}

.footer {
  flex: 0 1 auto;
}

.align-right {
  text-align: right;
}

create-company-view,
change-company-view,
create-contact-view,
change-contact-view,
display-company-view,
display-contact-view {
  flex: 0 0 auto;
  height: 100%;
  display: flex;
  flex-flow: column;
}


.login-center-div {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
   background-image: url("./assets/images/9.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  border-radius: 3px;
}

.login-container {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 400px;
	text-align: center;
  background-color: rgba(0,0,0,0.4);
	border-radius: 4px;
	margin: 0 auto;
}

.login-container-img {
	width: 5px;
	height: 5px;
	margin-top: -60px;
	margin-bottom: 60 px;
	margin-left: 125px;
}

.login-label-color {
	color: White;
}

.login-label-color{
	color: White;
}

.login-footer {
  background-color: rgba(0,0,0,0.4);
 }

.login-header {
  background-color: rgba(0,0,0,0.4);
}
