<form [formGroup]="contactsForm" (ngSubmit)="onSubmit()" class="content-area">
  <div class="ui-g-12 ui-fluid content-area">

    <div class="ui-g-12 ui-widget-content header">
      <div class="ui-g-8">
        <button pButton type="button" class="ui-button-info" label="Create Contact"></button>
      </div>
      <div class="ui-g-2">
        <button pButton type="submit" icon="fa-check-square-o" label="Submit"></button>
      </div>
      <div class="ui-g-2">
        <button pButton type="button" icon="fa-times-rectangle-o" label="Cancel"></button>
      </div>
    </div>

    <div class="ui-g-12 ui-widget-content content-area">
      <!--Below Div is for Contact General information -->
      <div>
        <div class="ui-g-6">
          <div class="ui-g ui-widget-content">
            <span class="ui-g-1"></span>
            <H4 class="ui-g-11">General Information</H4>

            <div class="ui-g-3 align-right">Prefix: </div>
            <div class="ui-g-9">
              <p-dropdown [options]="appService.prefixOpts" formControlName="conCourtesy"></p-dropdown>
            </div>

            <div class="ui-g-3 align-right">First name: </div>
            <div class="ui-g-9"><input pInputText type="text" formControlName="conFName"></div>

            <div class="ui-g-3 align-right">Middle Initial:</div>
            <div class="ui-g-9"><input pInputText type="text" formControlName="conMI"></div>

            <div class="ui-g-3 align-right">Last name: </div>
            <div class="ui-g-9"><input pInputText type="text" formControlName="conLName"></div>

            <div class="ui-g-3 align-right">Alias: </div>
            <div class="ui-g-9"><input pInputText type="text" formControlName="conAlias"></div>

<!--
            <div class="ui-g-3 align-right">Company: </div>
            <div class="ui-g-7"><input pInputText type="text" formControlName="conCompanyID"></div>
            <div class="ui-g-2">
              <button pButton type="button" icon="fa fa-search" iconPos="left" (click)="searchCompany()"></button>
            </div>
-->
            <div class="ui-g-3 align-right">Company: </div>
            <div class="ui-g-9">
              <company-with-search formControlName="conCompanyID"></company-with-search>
            </div>

            <div class="ui-g-3 align-right">Title: </div>
            <div class="ui-g-3">
              <input pInputText type="text" formControlName="conTitle">
            </div>

            <div class="ui-g-2 align-right">Position: </div>
            <div class="ui-g-4">
              <p-dropdown [options]="appService.positionOpts" formControlName="conPosition" [style]="{width:'95%'}"></p-dropdown>
            </div>


            <div class="ui-g-3 align-right">Phone: </div>
            <div class="ui-g-3">
              <p-inputMask formControlName="conDirectPhone" mask="(999) 999-9999" unmask="true"></p-inputMask>
            </div>

            <div class="ui-g-3 align-right">Extension: </div>
            <div class="ui-g-3">
              <p-inputMask formControlName="conExt" mask="(999) 999-9999" unmask="true"></p-inputMask>
            </div>

            <div class="ui-g-3 align-right">Cell Phone: </div>
            <div class="ui-g-3">
              <p-inputMask formControlName="conCellPhone" mask="(999) 999-9999" unmask="true"></p-inputMask>
            </div>

            <div class="ui-g-3 align-right">Alternate/Direct Fax: </div>
            <div class="ui-g-3">
              <p-inputMask formControlName="conFaxNum" mask="(999) 999-9999" unmask="true"></p-inputMask>
            </div>

            <div class="ui-g-3 align-right">Email: </div>
            <div class="ui-g-9"><input pInputText type="text" formControlName="conEmail"></div>
          </div>
        </div>

        <!--Below Div is for Contact Personal information -->
        <div class="ui-g-6">
          <div class="ui-g ui-widget-content">
            <span class="ui-g-1"></span>
            <H4 class="ui-g-11">Personal Information</H4>

            <div class="ui-g-3 align-right">Address line 1</div>
            <div class="ui-g-9"><input pInputText type="text" formControlName="conHomeAddress"></div>

            <div class="ui-g-3 align-right">Address line 2</div>
            <div class="ui-g-9"><input pInputText type="text" formControlName="conHomeAddress2"></div>

            <div class="ui-g-3 align-right">City:</div>
            <div class="ui-g-9"><input pInputText type="text" formControlName="conHomeCity"></div>

            <div class="ui-g-3 align-right">State: </div>
            <div class="ui-g-3">
              <p-dropdown [options]="appService.states" formControlName="conHomeState" filter="filter" [style]="{width:'100%'}"> </p-dropdown>
            </div>

            <div class="ui-g-3 align-right">Zip Code: </div>
            <div class="ui-g-3">
              <p-inputMask formControlName="conHomeZip" mask="99999?-9999" unmask="true"></p-inputMask>
            </div>

            <div class="ui-g-3 align-right">Phone:</div>
            <div class="ui-g-3">
              <p-inputMask formControlName="conHomePhone" mask="(999) 999-9999" unmask="true"></p-inputMask>
            </div>

            <div class="ui-g-3 align-right">Fax:</div>
            <div class="ui-g-3">
              <p-inputMask formControlName="conHomeFax" mask="(999) 999-9999" unmask="true"></p-inputMask>
            </div>

            <div class="ui-g-3 align-right">Birthday: </div>
            <div class="ui-g-3">
              <p-calendar formControlName="conBirthday" [showIcon]="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2050"></p-calendar>
            </div>

            <div class="ui-g-3 align-right">Anniversary: </div>
            <div class="ui-g-3">
              <p-calendar formControlName="conAnniversary" [showIcon]="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2050"></p-calendar>
            </div>


            <div class="ui-g-3 align-right">Personal Email: </div>
            <div class="ui-g-9"><input pInputText type="text" formControlName="conHomeEmail"></div>

            <div class="ui-g-3 align-right">Guest Name: </div>
            <div class="ui-g-9"><input pInputText type="text" formControlName="conGuestName"></div>
          </div>
        </div>
      </div>

      <!--Below Div is for Contact Assistant information -->
      <div>
        <div class="ui-g-6">
          <div class="ui-g ui-widget-content">
            <span class="ui-g-1"></span>
            <H4 class="ui-g-11">Assistant Information</H4>

            <div class="ui-g-3 align-right">Name</div>
            <div class="ui-g-9"><input pInputText type="text" formControlName="conAssistantName"></div>

            <div class="ui-g-3 align-right">Email: </div>
            <div class="ui-g-9"><input pInputText type="text" formControlName="conAssistEmail"></div>

            <div class="ui-g-3 align-right">Phone:</div>
            <div class="ui-g-3">
              <p-inputMask formControlName="conAssistPhone" mask="(999) 999-9999" unmask="true"></p-inputMask>
            </div>

            <div class="ui-g-3 align-right">Extension:</div>
            <div class="ui-g-3">
              <p-inputMask formControlName="conAssistExt" mask="(999) 999-9999" unmask="true"></p-inputMask>
            </div>
          </div>
        </div>

        <!--Below Div is for Add Discipline MultiSelect dropdown -->
        <div class="ui-g-6">
          <div class="ui-g ui-widget-content">
            <span class="ui-g-1"></span>
            <div class="ui-g-2">
              <B>Add Discipline</B>
            </div>
            <div class="ui-g-9">
              <p-multiSelect [options]="disciplineOpts" formControlName="codDisciplineID" (onChange)="onMultiselectChange(data)"></p-multiSelect>
            </div>
            <div class="ui-g-12">
              <p-dataTable [value]="disciplines" [rows]="3" [paginator]="true">
                <p-column field="codDisciplineID" header="Discipline ID"></p-column>
                <p-column field="name" header="Discipline Name"></p-column>
              </p-dataTable>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<!--Below Div is for Add Affiliate editable data table -->
<div>
  <div class="ui-g-12">
    <div class="ui-g ui-widget-content">
      <span class="ui-g-1"></span>
      <div class="ui-g-3">
        <B>Add Affiliate</B>
      </div>
      <div class="ui-g-6">
      </div>
      <div class="ui-g-2">
        <button pButton type="button" icon="fa-plus-square" iconPos="left" (click)="addAffiliaterow()"></button>
      </div>

      <div class="ui-g-12">
        <p-dataTable [value]="affiliates" [editable]="true">
          <p-column header="" [style]="{'width':'10%'}">
            <ng-template let-col let-row="rowData" pTemplate="body">
              <button pButton type="button" icon="fa fa-fw fa-remove" iconPos="left" (click)="removeAffiliaterow(row)"></button>
            </ng-template>
          </p-column>

          <p-column field="cafAffialiateID" header="Affiliate" [editable]="true" [style]="{'overflow':'visible', 'width': '35%'}">
            <ng-template let-col let-row="rowData" pTemplate="editor">
              <p-dropdown [(ngModel)]="selectedValue" [options]="appService.affiliateOpts" (onChange)="onAffiliateSelect(selectedValue, row)" [autoWidth]="false" [style]="{'width':'100%'}"></p-dropdown>
            </ng-template>
            <ng-template let-col let-row="rowData" pTemplate="body">
              <p-dropdown [(ngModel)]="row[col.field]" [options]="appService.affiliateOpts" (onChange)="onAffiliateSelect(selectedValue, row)" [autoWidth]="false" [style]="{'width':'100%'}"></p-dropdown>
            </ng-template>
          </p-column>

          <p-column field="cafStatus" header="Affiliate Status" [style]="{'overflow':'visible', 'width': '20%'}">
            <ng-template let-col let-row="rowData" pTemplate="editor">
              <p-dropdown [(ngModel)]="row[col.field]" [options]="appService.affStatusOpts" [autoWidth]="false" [style]="{'width':'100%'}"></p-dropdown>
            </ng-template>
            <ng-template let-col let-row="rowData" pTemplate="body">
              <p-dropdown [(ngModel)]="row[col.field]" [options]="appService.affStatusOpts" [autoWidth]="false" [style]="{'width':'100%'}"></p-dropdown>
            </ng-template>
          </p-column>

          <p-column field="cafstatus2" header="Product Status" [editable]="true" [style]="{'overflow':'visible', 'width': '35%'}">
            <ng-template let-col let-row="rowData" pTemplate="editor">
              <p-dropdown [(ngModel)]="row[col.field]" [options]="appService.productStatusOpts" [autoWidth]="false" panelStyleClass="fixed" [style]="{'width':'100%'}"></p-dropdown>
            </ng-template>
            <ng-template let-col let-row="rowData" pTemplate="body">
              <p-dropdown [(ngModel)]="row[col.field]" [options]="appService.productStatusOpts" [autoWidth]="false" panelStyleClass="fixed" [style]="{'width':'100%'}"></p-dropdown>
            </ng-template>
          </p-column>
        </p-dataTable>
      </div>
    </div>
  </div>

  <!--Below Div is for Add Reps editable data table -->

  <div class="ui-g-12">
    <div class="ui-g ui-widget-content">
      <span class="ui-g-1"></span>
      <div class="ui-g-3">
        <B>Add Reps</B>
      </div>
      <div class="ui-g-6">
      </div>
      <div class="ui-g-2">
        <button pButton type="button" icon="fa-plus-square" iconPos="left" (click)="addRepsrow()"></button>
      </div>
      <div class="ui-g-12">
        <p-dataTable [value]="reps" [editable]="true">
          <p-column header="" [style]="{'width':'10%'}">
            <ng-template let-col let-row="rowData" pTemplate="body">
              <button pButton type="button" icon="fa fa-fw fa-remove" iconPos="left" (click)="removeRepsrow(row)"></button>
            </ng-template>
          </p-column>

          <p-column field="corAffialiateID" header="Affiliate ID" [editable]="true" [style]="{'overflow':'visible'}">
            <ng-template let-col let-row="rowData" pTemplate="editor">
              <p-dropdown [(ngModel)]="row[col.field]" [options]="repAffiliateOpts" [autoWidth]="false" panelStyleClass="fixed" [style]="{'width':'100%'}">
              </p-dropdown>
            </ng-template>
            <ng-template let-col let-row="rowData" pTemplate="body">
              <p-dropdown [(ngModel)]="row[col.field]" [options]="repAffiliateOpts" [autoWidth]="false" panelStyleClass="fixed" [style]="{'width':'100%'}">
              </p-dropdown>
            </ng-template>
          </p-column>
          <p-column field="corRepID" header="Reps" [editable]="true" [style]="{'overflow':'visible'}">
            <ng-template let-col let-row="rowData" pTemplate="editor">
              <p-dropdown [(ngModel)]="row[col.field]" [options]="appService.repOpts" [autoWidth]="false" panelStyleClass="fixed" [style]="{'width':'100%'}">
              </p-dropdown>
            </ng-template>
            <ng-template let-col let-row="rowData" pTemplate="body">
              <p-dropdown [(ngModel)]="row[col.field]" [options]="appService.repOpts" [autoWidth]="false" panelStyleClass="fixed" [style]="{'width':'100%'}">
              </p-dropdown>
            </ng-template>
          </p-column>
          <p-column field="corStatus" header="RepsStatus" [editable]="true" [style]="{'overflow':'visible'}">
            <ng-template let-col let-row="rowData" pTemplate="editor">
              <p-dropdown [(ngModel)]="row[col.field]" [options]="appService.repStatusOpts" [autoWidth]="false" panelStyleClass="fixed" [style]="{'width':'100%'}">
              </p-dropdown>
            </ng-template>
            <ng-template let-col let-row="rowData" pTemplate="body">
              <p-dropdown [(ngModel)]="row[col.field]" [options]="appService.repStatusOpts" [autoWidth]="false" panelStyleClass="fixed" [style]="{'width':'100%'}">
              </p-dropdown>
            </ng-template>
          </p-column>
        </p-dataTable>
      </div>
    </div>
  </div>
</div>
