<div class="navigation">
    <a routerLink="company/find">Find Company</a><br>
    <a routerLink="company/create">Create Company</a><br>
    <a routerLink="company/change">Change Company</a><br>
    <a routerLink="company/display">Display Company</a><br>
    <a routerLink="contacts/find">Find Contacts</a><br>
    <a routerLink="contacts/create">Create Contacts</a><br>
    <a routerLink="contacts/change">Find Contacts</a><br>
    <a routerLink="contacts/display">Create Contacts</a><br>
</div>
